.contato-bg {
  margin: 0 auto;
  text-align: center;
  padding-top: 9%;
  background-image: url(../Utilidades/Imagem/contato/back-white.png);
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: contain;
  height: 450px;
}

.contato-bg>h1 {
  font-size: 40px;
  margin: 0;
}

.contato-bg>p {
  font-size: 45px;
  margin: 0;
}

.bg-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5cd29733;
  gap: 200px;
  padding-top: 15%;
}

#bg-contato {
  margin-top: 100px;
}

.midias-sociais {
  background-image: url(../Utilidades/Imagem/contato/contact-back.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 440px;
  height: 715px;
  font-weight: 600;
  /* top, right, bottom, left */
  gap: 5%;
}

.endereco>p {
  /* top, right, bottom, left */
  padding: 0 40px 0 40px;
}

.contact-form {
  background-image: url(../Utilidades/Imagem/contato/form-back.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  height: 715px;
  width: 715px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-form {
  padding-top: 20px;
  text-align: center;
}

.contact-form label {
  color: #ffffff;
}

.contact-form .heading {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}

.contact-form form>div {
  padding: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
}


.contact-form label {
  margin-bottom: 5px;
  font-weight: 600;
}

textarea {
  resize: none;
  height: 50px;
  padding: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #3CBFB5;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #3CBFB5;
  color: #ffffff;
  border: none;
  border-radius: 200px;
  height: 60px;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.footer-contato {
  background-color: #5cd29733;
  padding-top: 200px;
  width: 100%;
  height: 360px;
  text-align: center;
  font-size: 12px;
}

@media (max-width:1380px) {
  .bg-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 200px;
    padding-top: 30%;
  }
  .midias-sociais {
    width: 440px;
    height: 715px;
    font-weight: 600;
    /* top, right, bottom, left */
    gap: 5%;
  }
  .instagram, .endereco, .whatsapp{
    margin: 5% 0 5% 0;
  }
  @media (max-width: 830px) {
    .contato-bg>h1 {
      font-size: 35px;
      padding: 10% 10% 1% 10%;
    }
    
    .contato-bg>p {
      font-size: 40px;
      padding: 0 10% 0 10%;
    }
  }
  @media (max-width:700px) {
    .bg-formulario {
      padding-top: 40%;
    }
    .contact-form {
      background-size: contain;
      height: 650px;
      width: 650px;
    }
    .titulo-form {
      padding-top: 0;
    }
    .contact-form button[type="submit"] {
      height: 40px;
      width: 140px;
      font-size: 13px;
      margin-bottom: 20px;
    }
  }
}